body {

   font-family: "Times New Roman", Times, serif;
}

body {
  color: white;
}

body {
  background-color: black;
 
}

body {
  margin: 5px auto
}

img {
  display: block;
    margin-left: auto;
    margin-right: auto 

}

.links {
  display:;
}




  